.header {
  display: flex;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 0 0 0;
  align-items: end;
}

.header__paragraph {
  font-style: normal;
  font-weight: 500;
  margin: 0;
  color: #838383;
}

.header__address {
  margin: 0;
}
